$blue: #00B4CB;
$grey: #EBEBEB;
$black: #171717;
$darkgrey: #434343;
$lightgrey: #EDEDED;
$white: #F6F6F6;
$openSans: 'Open Sans',
sans-serif;
$break-small: 665px;
$break-medium: 1024px;
$break-large: 1200px;
$levitate-speed: 1.2s;
$levitate-offset: 100px;
