.DivBlue {
  display: inline-block;
  width: 100%;
  height: 90vh;
  background-color: $blue;
  position: relative;
  text-align: center;


  .contactTitle {
    display: inline-block;
    position: relative;
    font-family: $openSans;
    width: 100%;
    p {
      font-size: 29px;
      color: $white;
      @media screen and (max-width: $break-small) {
      font-size: 20px;
      color: $white;
      }
    }

    span {
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 190px;
      font-size: 80px;
      color: $blue;
      opacity: 0.10;
      margin-left: 1vh;
      color: $white;
      @media screen and (max-width: $break-small) {
        font-size: 50px;
        top: -30px;
        left: -30px;
        color: $white;
      }
    }
  }
  .formulaire{
    float:left;
   width:40%;
   font-family: $openSans;
   margin-top: 50px;
   .message{
     margin: 0px -1px 0px 0px;
     height: 195px;
   }
   .btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 0px 2px 14px #cfc4cf;
  font-family: Arial;
  color: $blue;
  font-size: 20px;
  background:#F6F6F6;
  padding: 11px 20px 10px 20px;
  text-decoration: none;
  margin-left: 0px;
}

.btn:hover {
  text-decoration: none;
  background: #00B4CB;
  color:$white;
}
.nom {
  max-width: 100%;
    float: left;
  }
  .prenom {
    max-width: 100%;
float: right;
  }
  }
  .map{
    width: 50%;
    display: inline-block;
    position: relative;
    font-family: $openSans;
    margin-top: 50px;
  }
};

.contactContener {
  margin-top: 60px;
  height: 70vh;
  text-align: center;
  @media screen and (max-width: $break-small) {
    display: none;
  }
  .contactTitle2 {
    display: inline-block;
    position: relative;
    font-family: $openSans;
    width: 100%;
    p {
      font-size: 29px;
      @media screen and (max-width: $break-small) {
      font-size: 20px;
      }
    }

    span {
      display: inline-block;
      position: absolute;
      top: -45px;
      left: 190px;
      font-size: 80px;
      color: $blue;
      opacity: 0.14;
      margin-left: 10vh;
      @media screen and (max-width: $break-small) {
        font-size: 50px;
        top: -30px;
        left: -30px;
      }
    }
  }
  .social {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 40px;
    width: 100%;
    vertical-align: middle;
    .twitter{
      margin-right: 0px;
    }
    .facebook{
      margin-left: 0px;
    }
    div {
      display: inline-block;
      text-align: center;
      max-width: 110px;
      max-height: 85px;
    }
    span {
      display: inline-block;
      margin-top: 25px;
      width: 100%;
      font-size: 20px;
      color: $black;
    }
  }
  a{
    display: inline-block;
    padding: 0px 40px 5px 40px;
    box-shadow: 0 3px 1px 3px $grey;
    background-color: $grey;
    font-style: 28px;
    color: $blue;
    text-decoration: none;
    transition-duration: 0.5s;
  }
  a:hover{
    background-color: $blue;
    color: $white;
    transition-duration: 0.5s;
  }
.contactTalo{
  color:$blue;
  font-size: 20px;
}
p{
  font-size: 20px;
}
};
.formulaire{
    margin-left:100px;
    padding:20px;
    float: left;
    width: 290px;
}
.DivBlue {
  display: inline-block;
  width: 100%;
  height: 90vh;
  background-color: $blue;
  position: relative;
  text-align: center;


  .contactTitle {
    display: inline-block;
    position: relative;
    font-family: $openSans;
    width: 100%;
    p {
      font-size: 29px;
      color: $white;
      @media screen and (max-width: $break-small) {
      font-size: 20px;
      color: $white;
      }
    }

    span {
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 190px;
      font-size: 80px;
      color: $blue;
      opacity: 0.10;
      margin-left: 1vh;
      color: $white;
      @media screen and (max-width: $break-small) {
        font-size: 50px;
        top: -30px;
        left: -30px;
        color: $white;
      }
    }
  }
  .formulaire{
    float:left;
   width:40%;
   font-family: $openSans;
   margin-top: 50px;
   .message{
     margin: 0px -1px 0px 0px;
     height: 195px;
   }
   .btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 0px 2px 14px #cfc4cf;
  font-family: Arial;
  color: $blue;
  font-size: 20px;
  background:#F6F6F6;
  padding: 11px 20px 10px 20px;
  text-decoration: none;
  margin-left: 0px;
}

.btn:hover {
  text-decoration: none;
  background: #00B4CB;
  color:$white;
}
.nom {
  max-width: 100%;
    float: left;
  }
  .prenom {
    max-width: 100%;
float: right;
  }
  }
  .map{
    width: 50%;
    display: inline-block;
    position: relative;
    font-family: $openSans;
    margin-top: 50px;
  }
};

.contactContener {
  margin-top: 60px;
  height: 70vh;
  text-align: center;
  @media screen and (max-width: $break-small) {
    display: none;
  }
  .contactTitle2 {
    display: inline-block;
    position: relative;
    font-family: $openSans;
    width: 100%;
    p {
      font-size: 29px;
      @media screen and (max-width: $break-small) {
      font-size: 20px;
      }
    }

    span {
      display: inline-block;
      position: absolute;
      top: -45px;
      left: 190px;
      font-size: 80px;
      color: $blue;
      opacity: 0.14;
      margin-left: 10vh;
      @media screen and (max-width: $break-small) {
        font-size: 50px;
        top: -30px;
        left: -30px;
      }
    }
  }
  .social {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 40px;
    width: 100%;
    vertical-align: middle;
    .twitter{
      margin-right: 0px;
    }
    .facebook{
      margin-left: 0px;
    }
    div {
      display: inline-block;
      text-align: center;
      max-width: 110px;
      max-height: 85px;
    }
    span {
      display: inline-block;
      margin-top: 25px;
      width: 100%;
      font-size: 20px;
      color: $black;
    }
  }
  a{
    display: inline-block;
    padding: 0px 40px 5px 40px;
    box-shadow: 0 3px 1px 3px $grey;
    background-color: $grey;
    font-style: 28px;
    color: $blue;
    text-decoration: none;
    transition-duration: 0.5s;
  }
  a:hover{
    background-color: $blue;
    color: $white;
    transition-duration: 0.5s;
  }
.contactTalo{
  color:$blue;
  font-size: 20px;
}
p{
  font-size: 20px;
}
};
.formulaire{
    margin-left:100px;
    padding:20px;
    float: left;
    width: 290px;
}
.DivBlue {
  display: inline-block;
  width: 100%;
  height: 90vh;
  background-color: $blue;
  position: relative;
  text-align: center;


  .contactTitle {
    display: inline-block;
    position: relative;
    font-family: $openSans;
    width: 100%;
    p {
      font-size: 29px;
      color: $white;
      @media screen and (max-width: $break-small) {
      font-size: 20px;
      color: $white;
      }
    }

    span {
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 190px;
      font-size: 80px;
      color: $blue;
      opacity: 0.10;
      margin-left: 1vh;
      color: $white;
      @media screen and (max-width: $break-small) {
        font-size: 50px;
        top: -30px;
        left: -30px;
        color: $white;
      }
    }
  }
  .formulaire{
    float:left;
   width:40%;
   font-family: $openSans;
   margin-top: 50px;
   .message{
     margin: 0px -1px 0px 0px;
     height: 195px;
   }
   .btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 0px 2px 14px #cfc4cf;
  font-family: Arial;
  color: $blue;
  font-size: 20px;
  background:#F6F6F6;
  padding: 11px 20px 10px 20px;
  text-decoration: none;
  margin-left: 0px;
}

.btn:hover {
  text-decoration: none;
  background: #00B4CB;
  color:$white;
}
.nom {
  max-width: 100%;
    float: left;
  }
  .prenom {
    max-width: 100%;
float: right;
  }
  }
  .map{
    width: 50%;
    display: inline-block;
    position: relative;
    font-family: $openSans;
    margin-top: 50px;
  }
};

.contactContener {
  margin-top: 60px;
  height: 70vh;
  text-align: center;
  @media screen and (max-width: $break-small) {
    display: none;
  }
  .contactTitle2 {
    display: inline-block;
    position: relative;
    font-family: $openSans;
    width: 100%;
    p {
      font-size: 29px;
      @media screen and (max-width: $break-small) {
      font-size: 20px;
      }
    }

    span {
      display: inline-block;
      position: absolute;
      top: -45px;
      left: 190px;
      font-size: 80px;
      color: $blue;
      opacity: 0.14;
      margin-left: 10vh;
      @media screen and (max-width: $break-small) {
        font-size: 50px;
        top: -30px;
        left: -30px;
      }
    }
  }
  .social {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 40px;
    width: 100%;
    vertical-align: middle;
    .twitter{
      margin-right: 0px;
    }
    .facebook{
      margin-left: 0px;
    }
    div {
      display: inline-block;
      text-align: center;
      max-width: 110px;
      max-height: 85px;
    }
    span {
      display: inline-block;
      margin-top: 25px;
      width: 100%;
      font-size: 20px;
      color: $black;
    }
  }
  a{
    display: inline-block;
    padding: 0px 40px 5px 40px;
    box-shadow: 0 3px 1px 3px $grey;
    background-color: $grey;
    font-style: 28px;
    color: $blue;
    text-decoration: none;
    transition-duration: 0.5s;
  }
  a:hover{
    background-color: $blue;
    color: $white;
    transition-duration: 0.5s;
  }
.contactTalo{
  color:$blue;
  font-size: 20px;
}
p{
  font-size: 20px;
}
};
.formulaire{
    margin-left:100px;
    padding:20px;
    float: left;
    width: 290px;
}
