.DivBlue {
  display: inline-block;
  width: 100%;
  height: 90vh;
  background-color: $blue;
  position: relative;
  text-align: center;
  @media screen and (max-width: $break-small) {
    height: 86vh;
    margin-top: 42px;
  }
  .contactTitle {
    display: inline-block;
    position: relative;
    font-family: $openSans;
    width: 100%;
    height: 70px;
    text-align: left;
    margin-left: 120px;
    padding-top: 20px;
    p {
      font-size: 29px;
      color: $white;
      @media screen and (max-width: $break-small) {
        font-size: 20px;
        margin: 43px -19px;
      }
    }
    span {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0px;
      font-size: 80px;
      color: $blue;
      opacity: 0.10;
      color: $white;
      @media screen and (max-width: $break-small) {
        font-size: 50px;
        top: 33px;
        left: -83px;
      }
    }
  }
  .formm {
    float: left;
    width: 40%;
    font-family: $openSans;
    margin-top: 50px;
    margin-left: 120px;
    @media screen and (max-width: $break-medium) {
      width: 30%;
    }
    @media screen and (max-width: $break-small) {
      width: 80%;
      margin-left: 50px;
    }
    .message {
      margin: 0 -1px 0 0;
      height: 195px;
    }
    .btn {
      -webkit-border-radius: 6;
      -moz-border-radius: 6;
      border-radius: 6px;
      text-shadow: 0 2px 14px #cfc4cf;
      font-family: Arial;
      color: $blue;
      font-size: 20px;
      background: #F6F6F6;
      padding: 11px 20px 10px;
      border: solid $blue 2px;
      text-decoration: none;
      transition-duration: 0.3s;
      margin-left: 0;
    }
    .btn:hover {
      text-decoration: none;
      background: #00B4CB;
      transition-duration: 0.3s;
      color: $white;
    }
    .nom {
      max-width: 100%;
      float: left;
      padding-right: 68px;
    }
    .prenom {
      max-width: 100%;
      float: left;
    }
  }
  .map {
    display: inline-block;
    width: 40%;
    height: 400px;
    margin-top: 50px;
    @media screen and (max-width: $break-medium) {
      width: 50%;
    }
    @media screen and (max-width: $break-small) {
      width: 100%;
      padding-top: 43px;
      margin: 0 auto;
    }
  }
};
.wave{
  @media screen and (max-width: $break-medium) {
    display: none;
  }
}
.contactContener {
  margin-top: 60px;
  height: 70vh;
  text-align: center;
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
  .contactTitle2 {
    display: inline-block;
    position: relative;
    font-family: $openSans;
    width: 100%;
    p {
      font-size: 29px;
      @media screen and (max-width: $break-small) {
        font-size: 20px;
      }
    }
    span {
      display: inline-block;
      position: absolute;
      top: -45px;
      left: 190px;
      font-size: 80px;
      color: $blue;
      opacity: 0.14;
      margin-left: 10vh;
      @media screen and (max-width: $break-small) {
        font-size: 50px;
        top: -30px;
        left: -30px;
      }
    }
  }
  .social {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 40px;
    width: 100%;
    vertical-align: middle;
    @media screen and (max-width: $break-small) {
      margin-top: 20px;
    }
    .twitter {
      margin-right: 0;
    }
    .facebook {
      margin-left: 0;
    }
    div {
      display: inline-block;
      text-align: center;
      max-width: 110px;
      max-height: 85px;
    }
    span {
      display: inline-block;
      margin-top: 25px;
      width: 100%;
      font-size: 20px;
      color: $black;
    }
  }
  a {
    display: inline-block;
    padding: 0 40px 5px;
    box-shadow: 0 3px 1px 3px $grey;
    background-color: $grey;
    font-style: 28px;
    color: $blue;
    text-decoration: none;
    transition-duration: 0.5s;
  }
  a:hover {
    background-color: $blue;
    color: $white;
    transition-duration: 0.5s;
  }
  .contactTaloBlue {
    color: $black;
    font-size: 20px;
    margin: 0;
  }
  .contactTaloBlue {
    color: $blue;
    font-size: 20px;
    margin-bottom: 10px;
  }
  p {
    font-size: 20px;
  }
}

;
