
.clearboth {
  clear: both;
}

#joinTalo {
  background: url('../../images/fondTravail.png') no-repeat center fixed;
  background-size: cover;
  height: 50vh;
  position: relative;
  .backgroundOpacity {
    background-color: rgba(0, 180, 203, 0.5);
    height: 100%;
  }
  .title {
    margin-top: 10%;
    color: white;
    font-weight: bold;
    @media screen and (max-width: $break-medium) {
      margin-top: 20%;
    }
    @media screen and (max-width: $break-small) {
      margin-top: 25%;
    }
  }
}


/*
First part
*/

h2.underTitle {
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: 2.500em;
}

.presentation {
  height: auto;
  margin: 0 auto;
  .casePart1 {
    padding: 10px;
    margin-bottom: 20px;
    background: #EBEBEB;
    height: 380px;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    @media screen and (max-width: $break-medium) {
      height: auto;
      padding: 10px;
      margin: 10px auto 20px auto;
    }
    @media screen and (max-width: $break-small) {
      height: auto;
      padding: 10px;
      margin: 10px auto 20px auto;
    }
    .caseTitle {
      color: #00B4CB;
      font-size: 1.325em;
      font-weight: bold;
    }
    .ballSvg {
      margin: 10px auto;
      width: 6em;
      height: 6em;
      @media screen and (max-width: $break-small) {
        display: none;
      }
    }
    .caseText {
      font-size: 1.250em;
      margin-bottom: 18px;
    }
  }
}


/*
Second part
*/

.titleConvo {
  margin-bottom: 10px;
  font-weight: bold;
  color: #00B4CB;
}

.convoRight {
  color: $white;
  font-size: 16px;
  @media screen and (max-width: $break-medium) {
    padding-left: 30px;
  }
  @media screen and (max-width: $break-small) {
    padding-left: 30px;
  }
}

.convoLeft {
  color: $black;
  font-size: 16px;
  @media screen and (max-width: $break-medium) {
    padding-left: 30px;
  }
  @media screen and (max-width: $break-small) {
    padding-left: 30px;
  }
}

.ballTalo {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: #00B4CB;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  padding-top: 5px;
  left: -65px;
  top: -55px;
  @media screen and (max-width: $break-medium) {
    right: -120%;
    top: -50px;
  }
  @media screen and (max-width: $break-small) {
    right: -120%;
    top: -50px;
  }
  .imageTaloBall {
    width: 4.5em;
    margin: 0 auto;
    @media screen and (max-width: $break-small) {

    }
  }
}

.ballWorker {
  width: 5.5em;
  height: 5.5em;
  border-radius: 50%;
  background: #EBEBEB;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  right: -50px;
  top: -50px;
  .workerBall {
    width: 4.5em;
    margin: 10% auto;
    @media screen and (max-width: $break-small) {
      margin-top: 15%;
    }
  }
}

.ballRelative {
  position: relative;
}

.msgLeftSide {
  background: #EBEBEB;
  padding: 20px;
  border-radius: 3px;
}

.msgRightSide {
  background: #00B4CB;
  padding: 20px;
  border-radius: 3px;
}

.msgRightSide,
.msgLeftSide {
  margin-bottom: 24px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.secondTitle {
  margin-bottom: 40px;
  font-size: 18px;
}

.secondPart {
  margin-bottom: 62px;
}



/*
Third part
*/

.blue {
  background: #00B4CB;
  margin-top: 50px;
  color: #FFFFFF;
  font-size: 1.25em;
  .relProWhite {
    position: relative;
    margin-top: 30px;
    padding-left: 20px;
    width: 100%;
    .thirdTitle {
      font-weight: bold;
      font-size: 1.5em;
    }
    .proWhite {
      position: absolute;
      top: -14px;
      left: -25.9em;
      color: $white;
      opacity: 0.4;
      font-size: 45px;
      font-weight: bold;
      @media screen and (max-width: $break-small) {
        margin-left: 0;
        margin-top: 0;
        top: -30%;
        left: 0;
      }
    }
  }
}

.thirdPart {
  margin-top: 70px;
  margin-bottom: 90px;
  position: relative;
  padding-bottom: 28px;
  @media screen and (max-width: $break-small) {
    margin-top: 20px;
  }
}

.firstMsg {
  margin-top: 20px;
}

.thirdText {
  margin-top: 20px;
}


/*
Forth Part
*/

.icon {
  margin-top: 20px;
}

.forthPart {
  margin-bottom: 60px;
}

.proBase {
  position: relative;
  margin-left: 100px;
  margin-bottom: 50px;
  @media screen and (max-width: $break-small) {
    margin-bottom: 30px;
    margin-left: 20px;
  }
  .forthTitle {
    font-weight: bold;
  }
  .pro {
    position: absolute;
    top: -30px;
    left: 0px;
    color: #00B4CB;
    opacity: 0.4;
    font-size: 45px;
    font-weight: bold;
  }
}

.forthText {
  margin-bottom: 20px;
  font-size: 18px;
}

.textFifth {
  margin-top: 10px;
}

.logoForth {
  width: 100px;
  height: 100px;
}

.sendButton {
  margin-left: -63px;
  padding-left: 24px;
  padding-right: 24px;
}


/*
Fifth part
*/


/*
misc
*/

.shadow {
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.11);
}

.dispoBlock {
  position: absolute;
  background: #00B4CB;
  height: 37px;
  width: 100%;
  bottom: 0;
  left: 0;
  color: $white;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}
