.row.no-pad {
  margin-right: 0;
  margin-left: 0;
}

.row.no-pad>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: $white;
  margin: 0 auto;
  max-width: 100%;
  background-image: url("../../images/pattern.png");
}

.hamburgerHeader {
  outline: 0;
  display: none;
  position: fixed;
  z-index: 1002;
  background-color: $grey;
  width: 100%;
  @media screen and (max-width: $break-small) {
    display: inline-block;
  }
  .hamburger {
    outline: 0;
    display: inline-block;
    background-color: $blue;
    margin-right: 60px;
  }
  .hamburgerNav {
    display: none;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: $white;
    color: $blue;
    position: relative;
    z-index: 1000;
    span {
      display: inline-block;
      text-decoration: none;
      width: 100%;
      color: $blue;
      font-size: 31px;
      margin-top: 32px;
      transition-duration: 0.3s;
    }
    span:hover {
      color: $darkgrey;
      transition-duration: 0.3s;
    }
    img {
      margin-top: 30px;
      transition-duration: 1.5s;
    }
    img:hover {
      width: 30%;
      transition-duration: 1.5s;
    }
  }
  .titleHeader {
    display: inline-block;
    font-size: 21px;
    strong {
      color: $blue;
    }
  }
}

;
.header {
  display: inline-block;
  width: 100%;
  height: 75px;
  background-color: $white;
  font-size: 20px;
  @media screen and (max-width: $break-medium) {
    height: 100px;
  }
  @media screen and (max-width: $break-small) {
    display: none;
  }
  .logoTalo {
    margin-top: -2%;
    width: 130px;
    @media screen and (max-width: $break-medium) {
      margin-top: 0;
    }
  }
  .sectionPro {
    display: inline-block;
    font-size: 12px;
    margin-top: 25px;
    background-color: $darkgrey;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 3px 1px 3px $grey;
    transition-duration: 0.5s;
    span {
      color: $white;
    }
  }
  .sectionPro:hover {
    background-color: $white;
    transition-duration: 0.5s;
    span {
      color: $darkgrey;
    }
  }
  a,
  span {
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 25px;
    color: $black;
    transition-duration: 0.3s;
    strong {
      color: $blue;
    }
  }
  a {
    outline: 0;
    color: $darkgrey;
  }
  a:hover {
    color: $blue;
    transition-duration: 0.3s;
  }
}

;
.persAnimation {
  display: inline-block;
  width: 100%;
  height: 105vh;
  background-image: url("../../images/maison.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  position: relative;
  #background-wrap {
    bottom: 0;
    left: 0;
    padding-top: 50px;
    position: relative;
    right: 0;
    top: 0;
    z-index: -1;
  }
  /* KEYFRAMES */
  @-webkit-keyframes animateCloud {
    0% {
      margin-left: -1000px;
    }
    100% {
      margin-left: 100%;
    }
  }
  @-moz-keyframes animateCloud {
    0% {
      margin-left: -1000px;
    }
    100% {
      margin-left: 100%;
    }
  }
  @keyframes animateCloud {
    0% {
      margin-left: -1000px;
    }
    100% {
      margin-left: 100%;
    }
  }
  /* ANIMATIONS */
  .x1 {
    //temps de l'animation
    -webkit-animation: animateCloud 35s linear infinite;
    -moz-animation: animateCloud 35s linear infinite;
    animation: animateCloud 35s linear infinite;
    //leur taille
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    transform: scale(0.65);
  }
  .x2 {
    //temps de l'animation
    -webkit-animation: animateCloud 20s linear infinite;
    -moz-animation: animateCloud 20s linear infinite;
    animation: animateCloud 20s linear infinite;
    //leur taille
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
  .x3 {
    //temps de l'animation
    -webkit-animation: animateCloud 30s linear infinite;
    -moz-animation: animateCloud 30s linear infinite;
    animation: animateCloud 30s linear infinite;
    //leur taille
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
  }
  .cloud {
    background: #fff;
    background: -moz-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #fff), color-stop(100%, #f1f1f1));
    background: -webkit-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    height: 120px;
    position: relative;
    width: 350px;
  }
  .cloud:after,
  .cloud:before {
    background: #fff;
    content: '';
    position: absolute;
    z-indeX: -1;
  }
  .cloud:after {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: 0px;
    width: 100px;
  }
  .cloud:before {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
  }
  .taloZen {
    width: 50%;
    position: absolute;
    animation: levitate 3s alternate ease-in-out infinite;
    top: 15%;
    left: 25%;
    opacity: 1;
  }
  @keyframes levitate {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, $levitate-offset);
    }
  }
  @media screen and (max-width: $break-small) {
    display: none;
  }
}

;
.wave {
  display: inline-block;
  margin: 0 auto;
  background-image: url("../../images/vague.png");
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -150px;
  @media screen and (max-width: $break-small) {
    display: none;
  }
}

;
.home1 {
  width: 100%;
  //height: 100vh;
  font-family: $openSans;
  text-align: center;
  padding-bottom: 20px;
  .homeTitle1 {
    margin-top: 14vh;
    position: relative;
    display: inline-block;
    p {
      font-size: 29px;
      @media screen and (max-width: $break-small) {
        font-size: 20px;
        margin: 0 15px;
      }
    }
    span {
      display: inline-block;
      position: absolute;
      top: -40px;
      left: -100px;
      font-size: 80px;
      color: $blue;
      opacity: 0.14;
      margin-left: 10vh;
      @media screen and (max-width: $break-small) {
        font-size: 50px;
        top: -30px;
        left: -30px;
      }
    }
  }
  img {
    display: inline-block;
    width: 160px;
    vertical-align: top;
    margin-left: 30px;
    margin-top: 50px;
    margin-right: 50px;
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }
  .home1Content {
    display: inline-block;
    text-align: center;
    .blocsHome1 {
      display: inline-block;
      text-align: center;
      width: 267px;
      height: 440px;
      background-color: $grey;
      margin-top: 40px;
      margin-right: 40px;
       box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      @media screen and (max-width: $break-small) {
        width: 90%;
        margin-right: 0;
        height: 40vh;
      }
      .roundH1 {
        margin-top: 20px;
        display: inline-block;
        border-radius: 50%;
        background-color: white;
        width: 105px;
        height: 105px;
        @media screen and (max-width: $break-small) {
          width: 50px;
          height: 50px;
          margin-top: 10px;
        }
        img {
          display: inline-block;
          text-align: center;
          margin: 25px auto;
          width: 60px;
          @media screen and (max-width: $break-small) {
            width: 30px;
            margin: 10px 0 0;
          }
        }
      }
      h1 {
        color: $blue;
        margin-top: 10px;
        font-size: 25px;
        text-transform: uppercase;
        text-align: center;
        @media screen and (max-width: $break-small) {
          font-size: 19px;
          margin-top: 7px;
        }
      }
      p {
        font-size: 19px;
        color: $black;
        opacity: 0.77;
        text-align: left;
        padding-left: 8px;
        @media screen and (max-width: $break-small) {
          font-size: 18px;
        }
      }
    }
  }
}

;
.home2 {
  display: inline-block;
  width: 100%;
  background-color: $blue;
  font-family: $openSans;
  .homeTitle3 {
    width: 100%;
    color: $white;
    font-family: $openSans;
    margin-top: 10vh;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    padding-left: 120px;
    @media screen and (max-width: $break-small) {
      width: 100%;
      padding-left: 5vh;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    p {
      font-size: 29px;
      @media screen and (max-width: $break-small) {
        font-size: 22px;
        margin: 15px 15px;
      }
    }
    span {
      display: inline-block;
      position: absolute;
      top: -100%;
      left: 6%;
      font-size: 80px;
      color: $white;
      opacity: 0.40;
      @media screen and (max-width: $break-small) {
        top: -10px;
        left: 30px;
        font-size: 50px;
      }
    }
  }
  .slider {
    font-family: $openSans;
    background-color: #009db2;
    .center-slide {
      display: inline-block;
      margin: 30px;
       box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      @media screen and (max-width: $break-small) {
        margin: 10px;
      }
      .imgSlide {
        position: relative;
        text-align: center;
        display: inline-block;
        background-image: url("../../images/clientTalo.png");
        background-size: cover;
        background-position: center;
        background-color: $white;
        height: 180px;
        max-width: 100%;
        max-height: 100%;
        color: $white;
        font-size: 17px;
        p {
          display: inline-block;
          width: 80%;
          margin-top: 55px;
        }
        span {
          display: inline-block;
          width: 100%;
          text-align: center;
          em {
            color: $blue;
          }
        }
      }
      .imgCaption {
        display: inline-block;
        width: 100%;
        background-color: $white;
        p {
          width: 90%;
          padding-left: 10%;
          margin-top: 20px;
        }
      }
    }
  }
}

;
.wave2 {
  display: inline-block;
  background-image: url("../../images/vague2.png");
  height: 145px;
  width: 100%;
  background-repeat: round;
  -webkit-box-shadow: inset 0 40px 0 0 $blue;
  -moz-box-shadow: inset 0 40px 0 0 $blue;
  box-shadow: inset 0 40px 0 0 $blue;
  background-repeat: round;
  @media screen and (max-width: $break-small) {
    display: none;
  }
}

.home3 {
  display: inline-block;
  width: 100%;
  text-align: center;
  @media screen and (max-width: $break-small) {
    background-color: $blue;
    height: 45vh;
  }
  .videoExplainer {
    width: 788px;
    height: 400px;
    margin-bottom: 60px;
    @media screen and (max-width: $break-small) {
      width: 80%;
      height: 40vh;
    }
  }
  .priceQuote {
    display: inline-block;
    position: relative;
    margin-top: 40px;
    width: 100vh;
    padding-left: 60px;
    padding-right: 60px;
    background-color: $grey;
    height: 150px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    @media screen and (max-width: $break-small) {
      display: none;
    }
    h2 {
      color: $blue;
      font-size: 25px;
    }
    p {
      font-size: 22px;
      color: $black;
    }
    .priceIcon {
      position: absolute;
      top: -25%;
      left: -8%;
    }
  }
}

;
.home4 {
  margin: 60px;
  text-align: center;
  @media screen and (max-width: $break-small) {
    height: auto;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .homeTitle4 {
    display: inline-block;
    position: relative;
    font-family: $openSans;
    width: 100%;
    @media screen and (max-width: $break-small) {
      margin-bottom: 30px;
    }
    p {
      display: inline-block;
      font-size: 29px;
      color: $black;
    }
    span {
      display: inline-block;
      position: absolute;
      bottom: -30%;
      left: 19%;
      font-size: 80px;
      color: $blue;
      opacity: 0.14;
      @media screen and (max-width: $break-small) {
        left: -12%;
        bottom: 17%;
      }
    }
  }
  .works4 {
    @media screen and (max-width: $break-small) {
      display: none;
    }
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 80px;
    width: 100%;
    vertical-align: middle;
    .woodQuote {
      margin-right: 100px;
    }
    .thermometerQuote {
      margin-left: 100px;
    }
    div {
      display: inline-block;
      text-align: center;
      max-width: 110px;
      max-height: 85px;
    }
    span {
      display: inline-block;
      margin-top: 25px;
      width: 100%;
      font-size: 20px;
      color: $black;
    }
  }
  a {
    display: inline-block;
    padding: 0px 40px 5px 40px;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: $grey;
    font-size: 28px;
    color: $blue;
    text-decoration: none;
    transition-duration: 0.5s;
  }
  a:hover {
    background-color: $blue;
    color: $white;
    transition-duration: 0.5s;
  }
}

;
.wave3 {
  display: inline-block;
  width: 100%;
  height: 82px;
  box-shadow: 0px 10px 0px 0px $blue;
  margin: 0 auto;
  background-image: url("../../images/wave3.png");
  background-position: top;
  background-repeat: no-repeat;
  @media screen and (max-width: $break-small) {
      box-shadow: 0px 20px 0px 0px $blue;
  }
}

.footer {
  display: inline-block;
  width: 100%;
  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  img{
    width: 20%;
    margin: 0 auto;
  }
  h2 {
    font-size: 20px;
  }
  .infosFooter {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    margin-top: 15px;
    padding-bottom: 42px;
    p {
      margin-bottom: 0;
      span {
        display: inline-block;
        padding-right: 10px;
        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
}
