.row.no-pad {
  margin-right: 0;
  margin-left: 0; }

.row.no-pad > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

body {
  background-color: #F6F6F6;
  margin: 0; }

.header {
  display: inline-block;
  width: 100%;
  height: 72px;
  background-color: white;
  font-size: 20px; }
  .header .logoTalo {
    margin-top: -15px;
    width: 57px; }
  .header a,
  .header span {
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 25px;
    color: #171717;
    transition-duration: 0.3s; }
    .header a strong,
    .header span strong {
      color: #00B4CB; }
  .header a {
    color: #434343; }
  .header a:hover {
    color: #00B4CB;
    transition-duration: 0.3s; }

.persAnimation {
  display: inline-block;
  width: 100%;
  height: 90vh;
  background-color: #00B4CB;
  position: relative; }

.wave {
  display: inline-block;
  margin: 0 auto;
  background-image: url("../../images/vague.png");
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -100px; }

.home1 {
  width: 100%;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  text-align: center; }
  .home1 .homeTitle1 {
    margin-top: 13vh;
    position: relative;
    display: inline-block; }
    .home1 .homeTitle1 p {
      font-size: 29px; }
    .home1 .homeTitle1 span {
      display: inline-block;
      position: absolute;
      top: -40px;
      left: -100px;
      font-size: 80px;
      color: #00B4CB;
      opacity: 0.14;
      margin-left: 10vh; }
  .home1 img {
    width: 160px;
    height: 280px;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 50px; }
  .home1 .blocsHome1 {
    display: inline-block;
    text-align: center;
    width: 266px;
    height: 430px;
    background-color: #EBEBEB;
    margin-top: 40px;
    margin-right: 40px; }
    .home1 .blocsHome1 .roundH1 {
      margin-top: 20px;
      display: inline-block;
      border-radius: 50%;
      background-color: white;
      width: 105px;
      height: 105px; }
      .home1 .blocsHome1 .roundH1 img {
        display: inline-block;
        text-align: center;
        margin: 25px 0 0;
        width: 60px;
        height: 60px; }
    .home1 .blocsHome1 h1 {
      color: #00B4CB;
      margin-top: 10px;
      font-size: 25px;
      text-transform: uppercase;
      text-align: center; }
    .home1 .blocsHome1 p {
      font-size: 19px;
      color: #171717;
      opacity: 0.77;
      text-align: left; }

.home2 {
  display: inline-block;
  width: 100%;
  height: 100vh;
  background-color: #00B4CB;
  font-family: "Open Sans", sans-serif; }
  .home2 .homeTitle3 {
    width: 100%;
    color: #F6F6F6;
    font-family: "Open Sans", sans-serif;
    margin-top: 13vh;
    position: relative;
    display: inline-block;
    padding-left: 120px; }
    .home2 .homeTitle3 p {
      font-size: 29px; }
    .home2 .homeTitle3 span {
      display: inline-block;
      position: absolute;
      top: -100%;
      left: 6%;
      font-size: 80px;
      color: #F6F6F6;
      opacity: 0.20; }
  .home2 .slider {
    display: inline-block;
    text-align: center;
    width: 80%;
    height: 567px;
    background-color: #EDEDED; }

.wave2 {
  display: inline-block;
  background-image: url("../../images/vague2.png");
  height: 145px;
  width: 100%;
  -webkit-box-shadow: inset 0 40px 0 0 #00B4CB;
  -moz-box-shadow: inset 0 40px 0 0 #00B4CB;
  box-shadow: inset 0 40px 0 0 #00B4CB; }

.home3 {
  display: inline-block;
  width: 100%;
  height: 100vh; }
  .home3 .priceQuote {
    display: inline-block;
    margin-top: 40px;
    padding-left: 60px;
    background-color: #EBEBEB;
    height: 180px;
    box-shadow: 0 3px 6px 0 #EBEBEB; }
    .home3 .priceQuote h2 {
      color: #00B4CB;
      font-size: 25px; }
    .home3 .priceQuote p {
      font-size: 22px;
      color: #171717; }
    .home3 .priceQuote .priceIcon {
      position: absolute;
      top: -20%;
      left: -10%; }
    .home3 .priceQuote .arrowRight {
      position: absolute;
      bottom: 3%;
      right: 3%; }

.home4 {
  margin-top: 60px;
  height: 80vh;
  text-align: center; }
  .home4 .homeTitle4 {
    display: inline-block;
    position: relative;
    font-family: "Open Sans", sans-serif;
    width: 100%; }
    .home4 .homeTitle4 p {
      display: inline-block;
      font-size: 29px;
      color: #171717; }
    .home4 .homeTitle4 span {
      display: inline-block;
      position: absolute;
      bottom: -30%;
      left: 23%;
      font-size: 80px;
      color: #00B4CB;
      opacity: 0.14; }
  .home4 .works4 {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 80px;
    width: 100%;
    vertical-align: middle; }
    .home4 .works4 .woodQuote {
      margin-right: 100px; }
    .home4 .works4 .thermometerQuote {
      margin-left: 100px; }
    .home4 .works4 div {
      display: inline-block;
      text-align: center;
      max-width: 110px;
      max-height: 85px; }
    .home4 .works4 span {
      display: inline-block;
      margin-top: 25px;
      width: 100%;
      font-size: 20px;
      color: #171717; }
  .home4 a {
    display: inline-block;
    padding: 0px 40px 5px 40px;
    box-shadow: 0 3px 1px 3px #EBEBEB;
    background-color: #EBEBEB;
    font-style: 28px;
    color: #00B4CB;
    text-decoration: none;
    transition-duration: 0.5s; }
  .home4 a:hover {
    background-color: #00B4CB;
    color: #F6F6F6;
    transition-duration: 0.5s; }

.wave3 {
  display: inline-block;
  width: 100%;
  height: 80px;
  box-shadow: 0px 20px 0px 20px #00B4CB;
  margin: 0 auto;
  background-image: url("../../images/wave3.png");
  background-position: top;
  background-repeat: no-repeat; }

.footer {
  display: inline-block;
  width: 100%;
  height: 200px;
  background-color: #00B4CB; }
